{% set page_title = 'Cadastro Alunos' %}
{% include 'includes/base_head.html' %} 
{% include 'includes/navbar.html' %}

<!-- Formulário de Aluno -->
<h1 class="mb-4">Cadastrar Aluno</h1>


<div class="row">
    <div class="col-12">
      <form action="/students/save/" method="POST">
  
        <!-- Nome -->
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ students[1] if students else ''}}" required>
        </div>
  
        <!-- Idade -->
        <div class="mb-3">
          <label for="age" class="form-label">Idade</label>
          <input type="number" class="form-control" id="age" name="age" value="{{ students[2] if students else ''}}" required>
        </div>
  
        <!-- Cidade -->
        <div class="mb-3">
          <label for="city" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="city" name="city" value="{{ students[3] if students else ''}}" required>
        </div>
  
        <!-- Botões -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="/students" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
    </div>
  </div>


{% include 'includes/footer.html' %}
